<!-- templates/all_records.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
</head>
<body>
    <h1>All Records</h1>
    {% if records %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td><a href="{{ url_for('show_wav_files', folderId=record['ID'], upload_folder=upload_folder) }}">{{ record['ID'] }}</a></td>
                        <td>{{ record['Date'] }}</td>
                        <td>{{ record['Comment'] }}</td>
                        <td>
                            <form action="{{ url_for('delete_record_folder', record_id=record['ID'], upload_folder=upload_folder) }}" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No records found.</p>
    {% endif %}
</body>
</html>